<html>
<head>
    <title><%= title %></title>
</head>

<h1>Join the conversation!</h1>
<p>Submit your message below.</p>
<form method="POST" action="/new">
    <input type="text" placeholder="Your Name" name="user">
    <input type="text" placeholder="Your Message" name="text">
    <button type="submit">Submit</button>
</form>

</html>