<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title><%= title %></title>
</head>
<body>
    <div class="flex-container">
        <div>
            <% for (let i=0; i<messages.length; i++) { %>
                <div class="flex-container">
                    <div>
                        <p><strong>User: </strong><%= messages[i].user %></p>
                        <p><strong>Message: </strong><%= messages[i].text %></p>
                        <p><strong>Added: </strong><%= messages[i].added.toLocaleString() %></p>
                    </div>
                    <div>
                        <button>Open</button>
                    </div>
                </div>
                <hr>
            <% } %>
        </div>
        <div>
            <button>
                <a href="/new">Send your own message</a>
            </button>
        </div>
    </div>
</body>
</html>